*{
    margin: 0;
    padding: 0;
}
.carousel-container {
    width: 100%;
    margin: auto;
  }
  
  .carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-item {
    position: relative;
    margin: 10px;
  }
  
  .carousel-content {
    position: relative;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
  }
  
  .carousel-item:hover .carousel-image {
    transform: scale(1.1);
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
  }
  
  .carousel-item:hover .overlay {
    opacity: 1;
  }
  
  .overlay h3 {
    margin-bottom: 20px;
  }
  
  .overlay button {
    margin: 5px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .overlay button:hover {
    background: rgba(255, 255, 255, 1);
  }
  