<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<!-- <div class="carousel-container">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of slides" class="carousel-item">
        <div class="carousel-content">
          <img [src]="https://dev.toqqer.com/toqqer/static/post_videos+ slide.thumbnail" alt="{{slide.title}}" class="carousel-image">
          <div class="overlay">
            <h3>{{slide.title}}</h3>
            <button>Resume</button>
            <button>+ Add to Watchlist</button>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div> -->