<div class="products-container">
  <div class="header">
    <h2>Products/{{ gender }}</h2>
    <div class="actions">
      <select name="" id="">
        <option (click)="filterProducts('all')">All</option>
        <option><button (click)="filterProducts('Men')">Men</button></option>
        <option (click)="filterProducts('Women')">Women</option>
        <option (click)="filterProducts('Unisex')">Unisex</option>
      </select>
      <button class="filter-button" (click)="toggleFilterMenu()">
        <i class="fas fa-filter"></i> Filter
      </button>
      <div class="filter-menu" *ngIf="showFilterMenu">
        <button (click)="filterProducts('all')">All</button>
        <button (click)="filterProducts('Men')">Men</button>
        <button (click)="filterProducts('Women')">Women</button>
        <button (click)="filterProducts('Unisex')">Unisex</button>
      </div>
    </div>
  </div>

  <div class="product-cards">
    <div *ngIf="loading; else productCardsLoading">
      <app-my-project-loader></app-my-project-loader>
    </div>
    <ng-template #productCardsLoading>
      <div *ngFor="let product of filteredProducts">
        <a [routerLink]="['/products', product.sku]" style="text-decoration: none;">
          <div class="product-card">
            <div class="product-image">
              <img *ngIf="product.images && product.images.length > 0" [src]="product.images[0]" [alt]="product.name" />
            </div>
            <div class="product-details">
              <h3>{{ product.name }}</h3>
              <div class="ratings-section">
                <i class="fa-solid fa-star" *ngFor="let _ of [1, 2, 3, 4]"></i>
                <i class="fa-regular fa-star"></i>
                <span class="rating">4.1/5</span>
              </div>
              <div class="price-section">
                <p class="present-price"> &#8377;{{ product.price }}</p>
              </div>
              <div class="bottom-buttons">
                <i class="fa-regular fa-heart like-btn"></i>
                <button class="add-to-cart-btn">
                  <i class="fas fa-cart-plus"></i> Add to Cart
                </button>
              </div>
            </div>
          </div>
        </a>
      </div>
    </ng-template>
  </div>
</div>
